.wrapper {
  max-width: 66%;
  margin: 0 auto;
  min-height: 500px;
  margin-bottom: 100px;
}

.article {
  margin-top: 26px;
  display: flex;
  flex-direction: column;

  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 24px;
  box-sizing: border-box;
  min-height: 500px;

  &__avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__likes {
    border: none;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    background-color: inherit;
    line-height: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
  }

  &__buttons {
    margin-left: auto;
    display: inline-flex;
    justify-content: center;
    width: fit-content;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter';
  }

  &__about {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__tags {
    margin-top: 11px;
    margin-bottom: 16px;
  }

  &__main-tag {
    width: 38px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 3px 5px;
    margin-right: 8px;
  }

  &__tag {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 3px 5px;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    color: #1890ff;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 28px;
    margin-right: 13px;
    text-decoration: none;
  }

  &__data {
    display: flex;
  }

  &__created {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
  }

  &__author {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    justify-content: center;
  }

  &__date {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__author-avatar {
    background-image: url('./../../assets/avatar.png');
    width: 46px;
    height: 46px;
    display: inline-block;
  }

  &__content {
    width: 682px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    overflow-wrap: break-word;
  }

  &__body {
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    & * {
      white-space: initial;
    }
  }
}

.article:last-of-type {
  margin-bottom: 26px;
}
